:root {
	--options-width: calc(min(max(50px + 25%, 350px), 450px));
	--margin-size: 8px;
	--label-width: 110px;
	--input-width: 55px;
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	/* :not(input):not(textarea) */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

html {
	box-sizing: border-box;
}

/* main layout */

.options {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: var(--options-width);
	overflow-x: hidden;
	overflow-y: auto;
}

.content {
	position: absolute;
	left: var(--options-width);
	top: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

@media (max-width: 600px) {
	.options {
		display: inline-block;
		position: initial;
		width: 100%;
	}

	.content {
		display: inline-block;
		position: initial;
		width: 100%;
	}
}

/* options inside */

.options > * {
	margin: var(--margin-size);
	overflow: hidden;
}

.group > * {
	margin: var(--margin-size);
	overflow: hidden;
}

.collapsed > :nth-child(n + 2) {
	display: none;
}

.row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: var(--margin-size);
}

.row > * {
	flex-grow: 0;
	flex-shrink: 0;
}

.row > :nth-child(2) {
	flex-grow: 1;
	flex-shrink: 1;
}

.row > :nth-child(1):nth-last-child(1) {
	flex-grow: 1;
	flex-shrink: 1;
}

.row > label {
	width: var(--label-width);
}

.row > input,
.row > select {
	width: var(--input-width);
}

.row > input[type=checkbox],
.row > input[type=radio],
.row > input[type=color] {
	flex-grow: 0;
	flex-shrink: 0;
}

label,
input,
select,
button {
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
}

input[type=range] {
	overflow: initial;
}