<plist>
<dict>
	<key>CFBundleExecutable</key>
	<string>server</string>
	<key>CFBundleIdentifier</key>
	<string>com.zolander.dtc</string>
	<key>CFBundleName</key>
	<string>DTCServer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>beta 0.10.7</string>
</dict>
</plist>