<plist>
<dict>
	<key>CFBundleName</key>
	<string>DTCServer</string>
	<key>CFBundleIdentifier</key>
	<string>com.zolander.dtcserver</string>
	<key>CFBundleShortVersionString</key>
	<string>beta 0.10.9</string>
	<key>CFBundleExecutable</key>
	<string>DTCServer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSUIElement</key>
	<false/>
</dict>
</plist>