* {
	transition:
		color 200ms,
		background 200ms,
		opacity 200ms;
}

:root {
	--background: rgb(25, 25, 25);
	--options-color: rgb(35, 35, 35);
	--group-color: rgb(28, 28, 28);
	--inset-normal: rgb(55, 55, 55);
	--inset-hover: rgb(50, 50, 50);
	--outset-normal: rgb(75, 75, 75);
	--outset-hover: rgb(83, 83, 83);
	--blue-normal: rgb(65, 110, 180);
	--blue-hover: rgb(70, 120, 200);
	--text-normal: rgb(220, 220, 220);
	--text-dim: rgb(180, 180, 180);
	--scroll-track: rgb(30, 30, 30);
	--scroll-normal: rgba(50, 50, 50);
	--scroll-hover: rgba(60, 60, 60);
	--textarea-track: transparent;
	--textarea-normal: rgba(38, 38, 38);
	--textarea-hover: rgba(30, 30, 30);
	--focus-shadow:
		inset 0px 0px 1px 2px rgba(80, 150, 250, 0.7);
	--inset-shadow:
		inset 1px 1px 1px rgba(0, 0, 0, 0.1);
	--outset-shadow:
		inset 1px 1px 1px rgba(255, 255, 255, 0.1),
		inset -1px -1px 1px rgba(0, 0, 0, 0.1),
		inset 0 -15px 10px -10px rgba(255, 255, 255, 0.05),
		inset 0 15px 10px -10px rgba(0, 0, 0, 0.05);
	--outset-active:
		inset 1px 1px 1px rgba(0, 0, 0, 0.1),
		inset 0 -15px 10px -10px rgba(255, 255, 255, 0.05),
		inset 0 15px 10px -10px rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: light) {
	:root {
		--background: rgb(200, 200, 200);
		--options-color: rgb(250, 250, 250);
		--group-color: rgb(200, 200, 200);
		--inset-normal: rgb(250, 250, 250);
		--inset-hover: rgb(255, 255, 255);
		--outset-normal: rgba(230, 230, 230);
		--outset-hover: rgb(225, 225, 225);
		--blue-normal: rgb(85, 135, 235);
		--blue-hover: rgb(100, 150, 250);
		--text-normal: rgb(15, 15, 15);
		--text-dim: rgb(35, 35, 35);
		--scroll-track: rgb(225, 225, 225);
		--scroll-normal: rgba(250, 250, 250);
		--scroll-hover: rgba(255, 255, 255);
		--textarea-track: transparent;
		--textarea-normal: rgba(210, 210, 210);
		--textarea-hover: rgba(200, 200, 200);
		--focus-shadow:
			inset 0px 0px 1px 2px rgba(80, 150, 250, 0.7);
		--inset-shadow:
			inset 1px 1px 1px rgba(0, 0, 0, 0.3);
		--outset-shadow:
			inset 1px 1px 1px rgba(255, 255, 255, 0.1),
			inset -1px -1px 1px rgba(0, 0, 0, 0.25),
			inset 0 -15px 10px -10px rgba(255, 255, 255, 0.2),
			inset 0 15px 10px -10px rgba(0, 0, 0, 0.05);
		--outset-active:
			inset 1px 1px 1px rgba(0, 0, 0, 0.25),
			inset 0 -15px 10px -10px rgba(255, 255, 255, 0.2),
			inset 0 15px 10px -10px rgba(0, 0, 0, 0.05);
	}
}

/* main colors and typography */

html {
	font: 12pt Charter, serif;
	color: var(--text-normal);
	background: var(--background);
}

.options {
	background: var(--options-color);
}

.group {
	border-radius: 5px;
	background: var(--group-color);
	/* box-shadow: var(--inset-shadow); */
}

h2 {
	line-height: 22px;
	font-size: 13pt;
	font-weight: bold;
}

label {
	color: var(--text-dim);
}

/* common shapes and colors */

button,
select,
input,
textarea {
	appearance: none;
	border: none;
	border-radius: 5px;
	color: var(--text-normal);
}

button:focus,
select:focus,
input:focus,
textarea:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=range]:focus {
	box-shadow: var(--focus-shadow);
	outline: none;
}

label,
button,
select,
input {
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: inherit;
	font-size: inherit;
}

button,
select,
input {
	padding-left: 5px;
	padding-right: 5px;
}

/* inset control colors */

input,
textarea {
	background: var(--inset-normal);
	box-shadow: var(--inset-shadow);
}

input:hover,
textarea:hover {
	background: var(--inset-hover);
}

/* outset control colors */

button,
select,
input[type=checkbox],
input[type=radio] {
	background: var(--outset-normal);
}

button:hover,
select:hover,
input[type=checkbox]:hover,
input[type=radio]:hover {
	background: var(--outset-hover);
}

button,
select,
input[type=checkbox],
input[type=radio],
input[type=range]::-webkit-slider-thumb,
input[type=color]::-webkit-color-swatch {
	box-shadow: var(--outset-shadow);
}

button:active,
select:active,
input[type=checkbox]:active,
input[type=radio]:active,
input[type=color]::-webkit-color-swatch:active {
	box-shadow: var(--outset-active);
}

/* blue shapes and colors */

input[type=radio],
input[type=checkbox],
input[type=range]::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
}

input[type=radio],
input[type=range]::-webkit-slider-thumb {
	border-radius: 10px;
}

input[type=radio]:checked,
input[type=checkbox]:checked,
input[type=range]::-webkit-slider-thumb {
	background: var(--blue-normal);
}

input[type=radio]:checked:hover,
input[type=checkbox]:checked:hover,
input[type=range]::-webkit-slider-thumb:hover {
	background: var(--blue-hover);
}

/* special elements */

[collapsible] > h2:nth-child(1):before {
	display: inline-block;
	width: 20px;
	font-size: 13px;
	content: "\25BD";
}

.collapsed > h2:nth-child(1):before {
	content: "\25B7";
}

textarea {
	padding-left: 8px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	font-size: 10pt;
	line-height: 20px;
	resize: none;
}

.main {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13pt;
	font-weight: bold;
	background: var(--blue-normal);
}

.main:hover {
	background: var(--blue-hover);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	opacity: 0.35;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type=radio],
input[type=checkbox] {
	margin-left: 0;
	margin-top: 3px;
	margin-right: 0;
	margin-bottom: 3px;
}

input[type=color] {
	padding: 5px;
}

input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
	margin: 0;
}

input[type=color]::-webkit-color-swatch {
	border-radius: 3px;
}

input[type=range] {
	height: 7px;
	margin-left: 0;
	margin-top: 9px;
	margin-right: 0;
	margin-bottom: 9px;
	padding-left: 5px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
	appearance: none;
}

/* scroll bars */

::-webkit-scrollbar {
	width: 17px;
	height: 17px;
}

::-webkit-scrollbar-track {
	background-color: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
	padding: 5px;
	border-radius: 7px;
	background-clip: content-box;
	background-color: var(--scroll-normal);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scroll-hover);
}

textarea::-webkit-scrollbar-track {
	background-color: var(--textarea-track);
}

textarea::-webkit-scrollbar-thumb {
	background-color: var(--textarea-normal);
}

textarea::-webkit-scrollbar-thumb:hover {
	background-color: var(--textarea-hover);
}