<plist>
<dict>
	<key>CFBundleExecutable</key>
	<string>server</string>
	<key>CFBundleIdentifier</key>
	<string>com.zolander.dtc</string>
	<key>CFBundleName</key>
	<string>DTC</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.1</string>
</dict>
</plist>